<style>
    h1 {
        color: blue;
        font-family: Calibri;
    }
    p {
        font-family: Calibri;
        text-align: justify;
    }
</style>

<img src="http://ukrnichrom.com.ua/templates/images/logo.png" alt="УКРНИХРОМ">
<h1> О Компании </h1>
<p>"УКРНИХРОМ" более 15 лет занимает лидирующие позиции по поставкам предприятиям Украины импортных высококачественных материалов производства "SANDVIK" (Швеция), "THYSSEN KRUPP" (Германия), "WUTMARC" (Англия), "ESAB" (Швеция), "LINCOLN ELECTRIC" (США), "ASKAYNAK" (Турция), "HYUNDAI" (Корея), "MOST" (Польша) и других производителей.
    <p>Наше предприятие имеет возможность поставлять Вашему предприятию очень широкий спектр сварочных материалов (электроды, проволоки, прутки, прирои), а также сварочное оборудование и комплектующие к нему.

    <p>Компания «Укрнихром» была основана как поставщик высококачественных прецизионных сплавов с высоким электрическим сопротивлением. На сегодняшний день компания является мощным предприятием, занимающимся производством и продажей продукции практически во всех областях металлургии и машиностроения.

    <p>«Укрнихром» располагает сетью филиалов и складских площадей в городах: Киев, Харьков, Запорожье. Главный офис компании находится в г.Днепр по адресу: пр. Б.Хмельницкого, д.139 К.

    <p>«Укрнихром» является организацией с централизованной, слаженной иерархией, чётким распределением и строгим контролем за выполнением задач. Эффективная работа достигается благодаря высокой степени организованности и упорядоченности взаимосвязей компании.

    <p>Мы выражаем уверенность в том, что обратившись к нам, Вы получите квалифицированную помощь, внимательное отношение к Вашим потребностям, оперативную обработку Вашего заказа и низкие цены при минимальных сроках поставки. </p>