{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row">
        {% include 'partials/products.html.twig' with {'products': products} %}
    </div>
{% endblock %}