{% extends 'base.html.twig' %}

{% block title %}
    Корзина {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Корзина</h1>

   {% include 'order/items.html.twig' with {'order': order} %}

    <a href="{{ path('order_complete') }}">Оформить заказ</a>
{% endblock %}